
.main-btn{
   display: block;
   padding: 15px;
   width: 300px;
   color: #fff;
   font-size: 20px;
   text-align: center;
   background-color: black;
   background-position: center;
   background-size: cover;
   border-radius:30px ;
   -webkit-border-radius:30px ;
   -moz-border-radius:30px ;
   -ms-border-radius:30px ;
   -o-border-radius:30px ;
}

.main-btn[sec="pass"]{
    background-image: url(../../images/password.png);

}
.main-btn[sec="add"]{
    background-image: url(../../images/addplayer.webp);

}