@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'El Messiri', sans-serif;
  color: #fff;
}

a{
  text-decoration: none;
  color: white;
}
img{
  width: 100%;
  aspect-ratio: 1.5/1;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px #d5d5d5 ;
  
}

button:active{
  transform: scale(.98);
  -webkit-transform: scale(.98);
  -moz-transform: scale(.98);
  -ms-transform: scale(.98);
  -o-transform: scale(.98);
}

.main{
  min-height:  100dvh;
  background-image:
    url(/src/images/background.jpg);
    background-color: black;
  background-size: cover;
  background-position: center;

}
.add-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;

}
.add-player input{
  padding: 5px;
  width: 300px;
  height: 40px;
  background-color: #47474761;
  border: none;
  outline: none;
  border-bottom: 2px solid ;
  text-align: right;
}

.add-player input[type="submit"]{
  text-align: center;
  background-color: rgb(22 137 47);
}